body {background: #efc119 url(../images/header.png) top left repeat-x; font-size: 16px; font-family: Georgia, 'Times New Roman', Times, serif !important;}
a {color: #ca4b26; text-decoration: none;}
a:hover {text-decoration: underline;}
p {line-height: 1.2; padding: 10px 0;}
h1, h2, h3, h4, h5, h6 {color: #382c00;}

.transparent { filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}

/* Navigation */

#top_bar h1 {background: url(../images/fourbeansoup.png) no-repeat top center; margin-top: -62px; height: 288px; text-indent: -9999px;}
/*#top_bar h1 a {display: block; height: 288px; text-indent: -9999px; margin: 0; padding: 0;}*/
#top_bar {margin: 0 auto; text-align: center;}
#nav_main {height: 62px; width: 362px; background: url(../images/navbar.png) no-repeat top center; margin-left: auto; margin-right: auto;}
#nav_main ul {}
#nav_main ul li {float: left; display: inline; padding-left: 25px; padding-top: 20px;}
#nav_main a {text-transform: uppercase; color: black; font-size: 120%; font-family: Verdana, Helvetica, Arial, sans-serif;}


/* Content */

#content {background: white; border: 1px solid #a78712; width: 900px; margin: 0 auto; line-height: 1.6;}
#content .inner {border: 7px solid #e8e8e8; padding: 20px 40px;}
#content h2 {margin-bottom: 10px; font-size: 165%; text-align: left;}

#products {width: 525px; float: left;}
.service h3 {font-family: Georgia, 'Times New Roman', Times, serif !important;}
.logo_block {float: right; width: 100px; margin-top: 5px; margin-left: 5px;}
.logo_block a {text-align: center; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 85%;}

.divider { border-top: 1px solid #a78712;}

#tweet_container {width: 200px; float: right; margin: 0;}
.tweet { background: #F5E3A3; padding: 10px; margin-top: 5px; font-size: 95%;}

/* Footer */

#footer {text-align: center; font-size: 75%; margin: 10px;}

/* -----------------------------------------------------
	P.I.E. FLOAT CLEARING
	www.positioniseverything.net/easyclearing.html
----------------------------------------------------- */
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Fixes IE/Mac */
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */